body{
    background-color: pink;
}

nav{
    position: absolute;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    font-style: oblique;
    padding: 20px;
    text-transform: uppercase;
    color: black;
}

nav a:hover{
    color: purple;
    font-size: 35px;
}

.tema{
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
    font-style: oblique;
    font-size: 80px;
}

#panqueca{
    display: inline-block;
    width: 40%;
    height: 40%;
}

#receita{
    position: absolute;
    top: 260px;
    right: 330px;
    font-size: 50px;
    font-style: oblique;
}

.div-um{
    position: absolute;
    font-size: 20px;
    font-style: oblique;
    top: 350px;
    right: 80px;
    padding-top: 30px;
}

#preparo{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-style: oblique;
}

#modo{
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 100px;
}
#sufle{
    display: inline-block;
    width: 40%;
    height: 40%;
}

#receitadois{
    position: absolute;
    top: 1050px;
    right: 300px;
    font-size: 50px;
    font-style: oblique;
}

.div-dois{
    position: absolute;
    font-size: 25px;
    font-style: oblique;
    top: 1200px;
    right: 150px;
    padding-top: 30px;
    
}

#ingrediente-dois{
    position: absolute;
    font-size: 25px;
    font-style: oblique;
    top: 1080px;
    right: 200px;
   
}

#preparoDois{
    text-align: center;
    padding-top: 130px;
    font-size: 40px;
    font-style: oblique;
}

#modoDois{
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 100px;
}

footer{
    text-align: center;
    font-size: 40px;
    font-style: oblique;

}

footer a{
    text-decoration: none;
}

footer a:hover{
    color: purple;
    font-size: 45px;
}